// all Mobiles
@media (max-width: 575.98px){
     body {
          #content {
               margin-left: 0px;
               margin-top: 50px;
               width: 100%;
               padding-left: 0;
               padding-right: 0;
           }
           .full_content {
               margin-left: 0px !important;
           }
           #sidebar{
               margin-top: 48px;
               padding-bottom: 40px; 
               z-index: 10;
           }
           #sidebar.active {
               width: 0px;
               padding: 0px;
           }
          .navbar {
               z-index: 999;
               .container-fluid{
                    justify-content: unset;
               }
               .btn-toggle {
                    font-size: $fs-22;
               }
               .main-content-heading {
                    h3 {
                         margin-left: 0px;
                         font-size: $fs-22;
                    }
               }
               .dropdown-toggle-wrap {
                    // right: auto;
               }
               .navbar-collapse{
                    .right-navbar-wrap{
                         justify-content: flex-end;
                    }
               }
          }
          #sidebarCollapse{
               img{
                    height: 15px;
               }
          }
     }
}

@media only screen and (max-width: 767px) {
     .navbar-collapse{
          .right-navbar-wrap{
               justify-content: flex-end;
          }
     }
}

// Medium Device
@media (min-width: 375px) and (max-width: 425px){
     body{
          .navbar {
               .main-content-heading {
                    h3 {
                         margin-left: 0px;
                         font-size: $fs-18;
                    }
               }
          }
          .dropdown-toggle-wrap {
               min-width: 300px;
          }
          .top-title-button{
               .left{
                  margin-bottom: 15px;
                  .table-head{
                    padding-top: 20px!important;
                    padding-bottom: 0px!important;
                 }
               }
          }
          .dataTables_wrapper{
               .top-pagination{
                    justify-content: center;
                    margin-top: 15px;
               }
          }
          #module{
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 27px!important;
                    }
               } 
          }
          #prediction{
               thead{
                   th{
                             white-space: unset!important;
                             padding-right: 7px!important;
                   }
              }
         }
          #subscription{
               thead{
                    th{
                         padding-right: 8px; 
                    }
               }
          }
          #transactions{
               thead{
                    th{
                         padding-right: 22px!important;
                         white-space: unset!important;
                    }
               } 
          }
          #role{
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 12px!important;
                    }
               }
          }
          #email_wrapper{
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 20px!important;
                    }
               }
          }
          #videos{
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 25px!important;
                    }
               }
          }
          .dataTables_wrapper{
               padding: 20px 0px 0px;
          }
          .pull-right{
               margin-top: 10px;
          }
          .form{
               margin-left: 0px!important;
          }
          .modal-body{
               padding: 5px!important;
               .delete-text{
                    padding-left: 22px;
               }

          }
          .custom-body{
               padding: 5px!important;
          }
          .score-heading{
               margin-top: 0px!important;
          }
          .common-wrap{
               padding: 5px!important;
               .nav{
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 15px;
                    border-radius: 0px;
                    flex-wrap: unset;
                    .nav-item:focus, .active{
                         border-radius: 0px;
                         margin-bottom: 5px;
                    }
                    .nav-link{
                         border-radius: 0px;
                         margin-bottom: 5px;
                    }
               }
          }
          .dashboard-heading{
               margin-left: 17px;
          }
          #content{
               .custom-row{
                    padding: 15px;
                    .common-col{
                         max-width: 100%;
                         margin-bottom: 10px;
                         margin-right: 0px;
                    }
               }

          }
          .table-col{
               .common-wrap{
                    padding: 0px!important;
                    .expired-btn{
                      margin-left: 0px!important;
                    }
               }
               padding-left: 15px!important;
               .datapicker{
                    max-width: 52%!important;
                    input{
                      margin-left: 0px!important;
                    }
               }
               #transaction{
                    thead{
                         th{
                              white-space: unset!important;
                              padding-right: 5px!important;
                         }
                    }
               }
          }
     }
}

// Small Device
@media (min-width: 320px) and (max-width: 374px){
     body{
          .navbar {
               .main-content-heading {
                    h3 {
                         margin-left: 0px;
                         font-size: $fs-16;
                         padding: 10px 8px;
                    }
               }
               .btn-toggle {
                    font-size: $fs-20;
                    padding: 10px 4px;
               }
               
          }
          .responsive-toggle{
               padding: 2px 8px;
          }
          .dropdown-toggle-wrap {
               min-width: 250px;
          }
          .form{
               margin-left: 0px!important;
          }
          .top-title-button{
               .left{
                  margin-bottom: 15px;
                  .table-head{
                     padding-top: 20px!important;
                     padding-bottom: 0px!important;
                  }
               }
          }
          .dataTables_wrapper{
               padding: 20px 0px 0px;
          }
          #prediction{
                thead{
                    th{
                              white-space: unset!important;
                              padding-right: 13px!important;
                    }
               }
          }
          #subscription{
               thead{
                    th{
                         padding-right: 8px; 
                    }
               }
          }
          #module{
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 20px!important;
                    }
               } 
          }
          #subjects{
               thead{
                    th{
                         padding-right: 18px!important; 
                    }
               }
          }
          .dataTables_wrapper{
               .top-pagination{
                    justify-content: center;
                    margin-top: 15px;
               }
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 22px!important;
                    }
               }
          }
          #role{
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 14px!important;
                    }
               }
          }
          #certificates{
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 11px!important;
                    }
               }
          }
          .pull-right{
             float: none;
             margin-top: 10px;
          }
          #email_wrapper{
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 8px!important;
                    }
               }
          }
          .modal-body{
               padding: 5px!important;
               .delete-text{
                    padding-left: 22px;
               }
          }
          .score-heading{
               margin-top: 0px!important;
          }
          .common-wrap{
               padding: 5px!important;
               .nav{
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 15px;
                    border-radius: 0px;
                    flex-wrap: unset;
                    .nav-item:focus, .active{
                         border-radius: 0px;
                         margin-bottom: 5px;
                    }
                    .nav-link{
                         border-radius: 0px;
                         margin-bottom: 5px;
                    }
               }
          }
          .dashboard-heading{
               margin-left: 17px;
          }
          #content{
               .custom-row{
                    justify-content: space-between;
                    padding: 15px;
                    .common-col{
                         max-width: 100%;
                         margin-bottom: 10px;
                         margin-right: 0px;
                    }

               }
               .table-col{
                    .common-wrap{
                         padding: 0px!important;
                         .expired-btn{
                           margin-left: 0px;
                         }
                    }
                    padding-left: 15px!important;
                    .datapicker{
                         max-width: 52%!important;
                         input{
                           margin-left: 0px!important;
                         }
                    }
                    #transaction{
                         thead{
                              th{
                                   white-space: unset!important;
                                   padding-right: 17px!important;
                              }
                         }
                    }

               }

          } 
     }
}

/*middle screen(425 up to 575 */
@media (min-width: 425px) and (max-width: 575px) {
     body{
          .dataTables_wrapper{
               .top-pagination{
                    justify-content: center;
                    margin-top: 15px;
               }
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 22px!important;
                    }
               }
          }
          .pull-right{
               margin-top: 10px;
          }
          .nav{
               padding-bottom: 10px;
               .nav-item{
                  padding: 8px 11px !important;
                  border-radius: 0px;
               }
          }
          #results{
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 18px!important;
                    }
               }
          }
          #certificates{
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 18px!important;
                    }
               }
          }
          #email_wrapper{
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 5px!important;
                    }
               }
          }
          #videos{
               thead{
                    th{
                         white-space: unset!important;
                         padding-right: 25px!important;
                    }
               }
          }
          .dashboard-heading{
               margin-left: 17px;
          }
          #content{
               .custom-row{
                    justify-content: space-between;
                    padding: 15px;
                    .common-col{
                         max-width: 48%;
                         margin-bottom: 10px;
                         margin-right: 0px;
                    }
               }
          }
          .table-head{
               padding-top: 20px!important;
               padding-bottom: 10px!important;
          }
          .table-col{
               .common-wrap{
                    padding: 0px!important;
                    .expired-btn{
                      margin-left: 0px!important;
                    }
               }
               padding-left: 15px!important;
               .datapicker{
                    max-width: 52%!important;
                    input{
                      margin-left: 0px!important;
                    }
               }
               #transaction{
                    thead{
                         th{
                              white-space: unset!important;
                              padding-right: 5px!important;
                         }
                    }
               }
          } 
     }
}
/* all large mobile (575 up to 768)*/
@media (min-width: 575px) and (max-width: 767px) {
   
     body{
          #sidebar{
               margin-top: 48px;
               padding-bottom: 40px; 
          }
          #content {
               // margin-left: 0px;
               margin-top: 70px;
               width: 100%;
               .dataTables_wrapper{
                    .top-pagination{
                         justify-content: center;
                         margin-top: 15px;
                    }
               }
               .custom-row{
                    justify-content: space-between;
                    .common-col{
                         max-width: 48%;
                         margin-bottom: 10px;
                         margin-right: 0px;
                         flex: auto;
                    }
               }
               .common-wrap{
                    padding: 0px!important;
                    .btn-group{
                         margin-top: 20px;
                         .expired-btn{
                            margin-left: 0px!important;
                         }
                    }
               }
               .datapicker{
                    max-width: 23%!important;
                    input{
                      margin-left: 0px!important;
                      margin-top: 15px;
                    }
               }
               .table-head{
                    padding-top: 20px!important;
                    padding-bottom: 0px!important;
               }
               #results{
                    thead{
                         th{
                              white-space: unset!important;
                             
                         }
                    }
               }
          }
     }
}


/* tablets devices (tablets, 768px and up)  */
@media (min-width: 768px) and (max-width: 991.98px) {
     body {
          #content {
               // margin-left: 0px;
               margin-top: 70px;
               width: 100%;
               .custom-wrap-p{
                    padding-right: 0px!important;
                    .datapicker{
                         max-width: 27%!important;
                         input{
                           margin-left: 0px!important;
                         }
                    }
               }
               .table-head{
                    padding-top: 10px!important
               }
           }
           .full_content {
               margin-left: 0px !important;
           }
           #sidebar{
               margin-top: 48px;
               z-index: 10;
           }
           #sidebar.active {
               width: 0px;
               padding: 0px;
           }
          .navbar {
               z-index: 999;
               
          }
          .dropdown-toggle-wrap {
               right: auto;
           }
           #email_wrapper{
               thead{
                    th{
                         white-space: unset!important;
                    }
               }
              
          }
          #device{
               thead{
                    th{
                         padding-right: 20px!important;
                    }
               }
          }
          #prediction{
               thead{
                   th{
                             white-space: unset!important;
                             padding-right: 21px!important;
                   }
              }
         }
          #results{
               thead{
                    th{
                         white-space: unset!important;
                        
                    }
               }
          }
          .custom-row{
               justify-content: space-between;
               .common-col{
                    max-width: 49%!important;
                    margin-bottom: 10px;
                    margin-right: 0px!important;
                    flex: auto;
               }
          }
          .common-wrap{
               .btn-group{
                    margin-top: 10px;
                    .expired-btn{
                       margin-left: 0px!important;

                    }
               }
          }
     }
     #sidebarCollapse{
          img{
               height: 20px;
          }
          .dataTables_wrapper{
               .top-pagination{
                    justify-content: center;
                    margin-top: 0px;
               }
          }
     }
}

/*laptop devices 991 up devices */
@media (min-width: 992px) and (max-width: 1199px) {
   
    body{
          #content{
               .custom-row{
                   justify-content: space-between;
                   .common-col{
                      max-width: 24%!important;
                      margin-bottom: 10px;
                      margin-right: 0px!important;
                      flex: auto;
                    }
               }
               .custom-wrap-p{
                    padding-right: 0px;
                    .datapicker{
                         max-width: 50% !important;
                         justify-content: flex-end;
                         input{
                           margin-left: 0px!important;
                           width: 23%;
                         }
                    }
               }
               #device{
                    thead{
                         th{
                              padding-right: 24px!important;
                         }
                    }
               }
               .common-wrap{
                    .btn-group{
                         margin-top: 10px;
                         .expired-btn{
                            margin-left: 0px!important;
     
                         }
                    }
               }
          }
     }
} 



//xl laptop 1200 up to 1400
@media (min-width: 1200px) and (max-width: 1440px) {
     
     body{
          #content{
               .custom-row{
                   justify-content: space-between;
                   .common-col{
                      max-width: 24%!important;
                      margin-bottom: 10px;
                      margin-right: 0px!important;
                      flex: auto;
                    }
               }
          }
     }
}