// all Mobiles
@media (max-width: 575.98px){
     body {
          #content {
               margin-left: 0px;
               margin-top: 50px;
               width: 100%;
               padding-left: 0;
               padding-right: 0;
           }
           .full_content {
               margin-left: 0px !important;
           }
           #sidebar{
               margin-top: 48px;
               padding-bottom: 40px; 
               z-index: 10;
           }
           #sidebar.active {
               width: 0px;
               padding: 0px;
           }
          .navbar {
               z-index: 999;
               .container-fluid{
                    justify-content: unset;
               }
               .btn-toggle {
                    font-size: $fs-22;
               }
               .main-content-heading {
                    h3 {
                         margin-left: 0px;
                         font-size: $fs-22;
                    }
               }
               .dropdown-toggle-wrap {
                    right: auto;
               }
               .navbar-collapse{
                    .right-navbar-wrap{
                         justify-content: flex-end;
                    }
               }
          }
          #sidebarCollapse{
               img{
                    height: 15px;
               }
          }
     }
}

@media only screen and (max-width: 767px) {
     .navbar-collapse{
          .right-navbar-wrap{
               justify-content: flex-end;
          }
     }
}

// Medium Device
@media (min-width: 375px) and (max-width: 425px){
     body{
          .navbar {
               .main-content-heading {
                    h3 {
                         margin-left: 0px;
                         font-size: $fs-18;
                    }
               }
          }
          .dropdown-toggle-wrap {
               min-width: 300px;
           }
     }
}

// Small Device
@media (min-width: 320px) and (max-width: 374px){
     body{
          .navbar {
               .main-content-heading {
                    h3 {
                         margin-left: 0px;
                         font-size: $fs-16;
                         padding: 10px 8px;
                    }
               }
               .btn-toggle {
                    font-size: $fs-20;
                    padding: 10px 4px;
               }
               
          }
          .responsive-toggle{
               padding: 2px 8px;
          }
          .dropdown-toggle-wrap {
               min-width: 250px;
           }
     }
	
}

/* tablets devices (tablets, 768px and up)  */
@media (min-width: 768px) and (max-width: 991.98px) {
     body {
          #content {
               // margin-left: 0px;
               margin-top: 70px;
               width: 100%;
           }
           .full_content {
               margin-left: 0px !important;
           }
           #sidebar{
               margin-top: 48px;
               z-index: 10;
           }
           #sidebar.active {
               width: 0px;
               padding: 0px;
           }
          .navbar {
               z-index: 999;
               
          }
          .dropdown-toggle-wrap {
               right: auto;
           }
     }
     #sidebarCollapse{
          img{
               height: 20px;
          }
     }
}
