@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@media (max-width: 575.98px) {
  body #content {
    margin-left: 0px;
    margin-top: 50px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  body .full_content {
    margin-left: 0px !important;
  }
  body #sidebar {
    margin-top: 48px;
    padding-bottom: 40px;
    z-index: 10;
  }
  body #sidebar.active {
    width: 0px;
    padding: 0px;
  }
  body .navbar {
    z-index: 999;
  }
  body .navbar .container-fluid {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  body .navbar .btn-toggle {
    font-size: 22px;
  }
  body .navbar .main-content-heading h3 {
    margin-left: 0px;
    font-size: 22px;
  }
  body .navbar .navbar-collapse .right-navbar-wrap {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body #sidebarCollapse img {
    height: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-collapse .right-navbar-wrap {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  body .navbar .main-content-heading h3 {
    margin-left: 0px;
    font-size: 18px;
  }
  body .dropdown-toggle-wrap {
    min-width: 300px;
  }
  body .top-title-button .left {
    margin-bottom: 15px;
  }
  body .top-title-button .left .table-head {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
  }
  body .dataTables_wrapper .top-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  body #module thead th {
    white-space: unset !important;
    padding-right: 27px !important;
  }
  body #prediction thead th {
    white-space: unset !important;
    padding-right: 23px !important;
  }
  body #subscription thead th {
    padding-right: 8px;
  }
  body #transactions thead th {
    padding-right: 22px !important;
    white-space: unset !important;
  }
  body #role thead th {
    white-space: unset !important;
    padding-right: 12px !important;
  }
  body #email_wrapper thead th {
    white-space: unset !important;
    padding-right: 33px !important;
  }
  body #videos thead th {
    white-space: unset !important;
    padding-right: 25px !important;
  }
  body .dataTables_wrapper {
    padding: 20px 0px 0px;
  }
  body .pull-right {
    margin-top: 10px;
  }
  body .form {
    margin-left: 0px !important;
  }
  body .modal-body {
    padding: 5px !important;
  }
  body .modal-body .delete-text {
    padding-left: 22px;
  }
  body .custom-body {
    padding: 5px !important;
  }
  body .score-heading {
    margin-top: 0px !important;
  }
  body .common-wrap {
    padding: 5px !important;
  }
  body .common-wrap .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    border-radius: 0px;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  body .common-wrap .nav .nav-item:focus, body .common-wrap .nav .active {
    border-radius: 0px;
    margin-bottom: 5px;
  }
  body .common-wrap .nav .nav-link {
    border-radius: 0px;
    margin-bottom: 5px;
  }
  body .dashboard-heading {
    margin-left: 17px;
  }
  body #content .custom-row {
    padding: 15px;
  }
  body #content .custom-row .common-wrap-col {
    max-width: 100%;
    margin-bottom: 10px;
    margin-right: 0px;
  }
  body .table-col {
    padding-left: 15px !important;
  }
  body .table-col .common-wrap {
    padding: 0px !important;
  }
  body .table-col .common-wrap .expired-btn {
    margin-left: 0px !important;
  }
  body .table-col .datapicker {
    max-width: 100% !important;
  }
  body .table-col .datapicker input {
    margin-left: 0px !important;
  }
  body .table-col #transaction thead th {
    white-space: unset !important;
    padding-right: 5px !important;
  }
  body .graph-wrap-row {
    padding: 15px;
  }
  body .graph-wrap-row .graph-common-1 {
    margin-top: 0px !important;
    max-width: 100% !important;
  }
  body .graph-wrap-row .graph-common-2 {
    margin-top: 0px !important;
    max-width: 100% !important;
  }
  body .question-forms .form .common-col {
    padding: 13px 12px 1px 12px;
  }
  body .question-forms .form .common-col .custom-label {
    padding: 5px 3px;
  }
  body .question-forms .form .common-col .col-form-label {
    padding: 5px 3px;
  }
  body .question-forms .form .common-col .add-icon a {
    right: 140px !important;
    top: 225px !important;
  }
  body .question-forms .form .common-col .plus-icon a {
    margin-top: 30px;
  }
  body .question-forms .form .save-btn {
    margin-top: 80px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .question-forms .form .save-btn button {
    margin: 0px !important;
  }
  body .question-forms .sub-heading h4 span {
    font-size: 15px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
  body .question-forms .sub-heading h5 span {
    font-size: 15px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
  body .branch-edit-profile a {
    left: 235px !important;
  }
  body .col-header button {
    margin-top: 80px;
  }
  body .save-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  body .navbar .main-content-heading h3 {
    margin-left: 0px;
    font-size: 16px;
    padding: 10px 8px;
  }
  body .navbar .btn-toggle {
    font-size: 20px;
    padding: 10px 4px;
  }
  body .responsive-toggle {
    padding: 2px 8px;
  }
  body .dropdown-toggle-wrap {
    min-width: 250px;
  }
  body .form {
    margin-left: 0px !important;
  }
  body .top-title-button .left {
    margin-bottom: 15px;
  }
  body .top-title-button .left .table-head {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
  }
  body .dataTables_wrapper {
    padding: 20px 0px 20px;
  }
  body #prediction thead th {
    white-space: unset !important;
    padding-right: 16px !important;
  }
  body #vouchers thead th {
    white-space: unset !important;
    padding-right: 7px !important;
  }
  body #mock_test thead th {
    white-space: unset !important;
    padding-right: 35px !important;
  }
  body #subscription thead th {
    padding-right: 8px;
  }
  body #module thead th {
    white-space: unset !important;
    padding-right: 86px !important;
  }
  body #subjects thead th {
    padding-right: 18px !important;
  }
  body .dataTables_wrapper .top-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  body .dataTables_wrapper thead th {
    white-space: unset !important;
    padding-right: 22px !important;
  }
  body #role thead th {
    white-space: nowrap !important;
    padding-right: 28px !important;
  }
  body #certificates thead th {
    white-space: unset !important;
    padding-right: 11px !important;
  }
  body .pull-right {
    float: none;
    margin-top: 10px;
  }
  body #email_wrapper thead th {
    white-space: unset !important;
    padding-right: 19px !important;
  }
  body .modal-body {
    padding: 5px !important;
  }
  body .modal-body .delete-text {
    padding-left: 22px;
  }
  body .modal-body .user-form {
    padding: 0px !important;
  }
  body .modal-body .user-form .delete-btn {
    margin-bottom: 10px;
  }
  body .modal-body .user-form .edit-btn {
    margin-bottom: 10px;
  }
  body .score-heading {
    margin-top: 0px !important;
  }
  body .common-wrap {
    padding: 5px !important;
  }
  body .common-wrap .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    border-radius: 0px;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  body .common-wrap .nav .nav-item:focus, body .common-wrap .nav .active {
    border-radius: 0px;
    margin-bottom: 5px;
  }
  body .common-wrap .nav .nav-link {
    border-radius: 0px;
    margin-bottom: 5px;
  }
  body .dashboard-heading {
    margin-left: 17px;
  }
  body #content .custom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
  }
  body #content .custom-row .common-wrap-col {
    max-width: 100%;
    margin-bottom: 10px;
    margin-right: 0px;
  }
  body #content .table-col {
    padding-left: 15px !important;
  }
  body #content .table-col .common-wrap {
    padding: 0px !important;
  }
  body #content .table-col .common-wrap .expired-btn {
    margin-left: 0px;
  }
  body #content .table-col .datapicker {
    max-width: 100% !important;
  }
  body #content .table-col .datapicker input {
    margin-left: 0px !important;
  }
  body #content .table-col #transaction thead th {
    white-space: unset !important;
    padding-right: 17px !important;
  }
  body #content .graph-wrap-row {
    padding: 15px;
  }
  body #content .graph-wrap-row .graph-common-1 {
    margin-top: 0px !important;
    max-width: 100% !important;
  }
  body #content .graph-wrap-row .graph-common-2 {
    margin-top: 0px !important;
    max-width: 100% !important;
  }
  body .question-forms .form .common-col {
    padding: 13px 12px 1px 12px;
  }
  body .question-forms .form .common-col .custom-label {
    padding: 5px 3px;
  }
  body .question-forms .form .common-col .col-form-label {
    padding: 5px 3px;
  }
  body .question-forms .form .common-col .add-icon a {
    right: 110px !important;
    top: 225px !important;
  }
  body .question-forms .form .common-col .plus-icon a {
    margin-top: 30px;
  }
  body .question-forms .form .save-btn {
    margin-top: 80px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .question-forms .form .save-btn button {
    margin: 0px !important;
  }
  body .question-forms .sub-heading h4 span {
    font-size: 15px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
  body .question-forms .sub-heading h5 span {
    font-size: 15px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
  body .branch-edit-profile a {
    left: 189px !important;
  }
  body .col-header button {
    margin-top: 80px;
  }
  body .save-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .save-btn button {
    margin-right: 0px !important;
  }
}

/*middle screen(425 up to 575 */
@media (min-width: 425px) and (max-width: 575px) {
  body .dataTables_wrapper .top-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  body .dataTables_wrapper thead th {
    white-space: unset !important;
    padding-right: 22px !important;
  }
  body .pull-right {
    margin-top: 10px;
  }
  body .nav {
    padding-bottom: 10px;
  }
  body .nav .nav-item {
    border-radius: 0px;
  }
  body #device thead th {
    white-space: nowrap !important;
    padding-right: 18px !important;
  }
  body #results thead th {
    white-space: unset !important;
    padding-right: 18px !important;
  }
  body #certificates thead th {
    white-space: unset !important;
    padding-right: 18px !important;
  }
  body #email_wrapper thead th {
    white-space: unset !important;
    padding-right: 5px !important;
  }
  body #videos thead th {
    white-space: unset !important;
    padding-right: 60px !important;
  }
  body #module thead th {
    padding-right: 45px !important;
  }
  body .dashboard-heading {
    margin-left: 17px;
  }
  body #content .custom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
  }
  body #content .custom-row .common-wrap-col {
    max-width: 48%;
    margin-bottom: 10px;
    margin-right: 0px;
  }
  body .table-head {
    padding-top: 5px !important;
    padding-bottom: 10px !important;
  }
  body .table-col {
    padding-left: 15px !important;
  }
  body .table-col .common-wrap {
    padding: 0px !important;
  }
  body .table-col .common-wrap .expired-btn {
    margin-left: 0px !important;
  }
  body .table-col .datapicker {
    max-width: 100% !important;
  }
  body .table-col .datapicker input {
    margin-left: 0px !important;
  }
  body .table-col #transaction thead th {
    white-space: unset !important;
    padding-right: 5px !important;
  }
  body .graph-wrap-row {
    padding: 15px;
  }
  body .graph-wrap-row .graph-common-1 {
    margin-top: 0px !important;
    max-width: 100% !important;
  }
  body .graph-wrap-row .graph-common-2 {
    margin-top: 0px !important;
    max-width: 100% !important;
  }
  body .question-forms .form .common-col {
    padding: 13px 12px 1px 12px;
  }
  body .question-forms .form .common-col .custom-label {
    padding: 5px 3px;
  }
  body .question-forms .form .common-col .col-form-label {
    padding: 5px 3px;
  }
  body .question-forms .form .common-col .add-icon a {
    right: 160px !important;
    top: 225px !important;
  }
  body .question-forms .form .common-col .plus-icon a {
    margin-top: 30px;
  }
  body .question-forms .form .save-btn {
    margin-top: 80px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .question-forms .form .save-btn button {
    margin: 0px !important;
  }
  body .question-forms .sub-heading h4 span {
    font-size: 18px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
  body .question-forms .sub-heading h5 span {
    font-size: 18px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
  body .branch-edit-profile a {
    left: 245px !important;
  }
  body .col-header button {
    margin-top: 80px;
  }
  body .save-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/* all large mobile (575 up to 768)*/
@media (min-width: 575px) and (max-width: 767px) {
  body #sidebar {
    margin-top: 48px;
    padding-bottom: 40px;
  }
  body #content {
    margin-top: 70px;
    width: 100%;
  }
  body #content .dataTables_wrapper .top-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  body #content .custom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #content .custom-row .common-wrap-col {
    max-width: 48%;
    margin-bottom: 10px;
    margin-right: 0px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  body #content .common-wrap {
    padding: 0px !important;
  }
  body #content .common-wrap .btn-group {
    margin-top: 20px;
  }
  body #content .common-wrap .btn-group .expired-btn {
    margin-left: 0px !important;
  }
  body #content .datapicker {
    max-width: 23% !important;
  }
  body #content .datapicker input {
    margin-left: 0px !important;
    margin-top: 15px;
  }
  body #content .table-head {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
  }
  body #content #results thead th {
    white-space: unset !important;
  }
  body #content .question-forms .form .common-col {
    padding: 13px 12px 1px 12px;
  }
  body #content .question-forms .form .common-col .custom-label {
    padding: 5px 3px;
  }
  body #content .question-forms .form .common-col .col-form-label {
    padding: 5px 3px;
  }
  body #content .question-forms .form .common-col .add-icon a {
    right: 208px !important;
    top: 225px !important;
  }
  body #content .question-forms .form .common-col .plus-icon a {
    margin-top: 30px;
  }
  body #content .question-forms .form .save-btn {
    margin-top: 80px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body #content .question-forms .form .save-btn button {
    margin: 0px !important;
  }
  body #content .question-forms .sub-heading h4 span {
    font-size: 15px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
  body #content .question-forms .sub-heading h5 span {
    font-size: 15px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
  body .branch-edit-profile a {
    left: 189px !important;
  }
  body .save-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/* tablets devices (tablets, 768px and up)  */
@media (min-width: 768px) and (max-width: 991.98px) {
  body #content {
    margin-top: 70px;
    width: 100%;
  }
  body #content .custom-wrap-p {
    padding-right: 0px !important;
  }
  body #content .custom-wrap-p .datapicker {
    max-width: 50% !important;
  }
  body #content .custom-wrap-p .datapicker input {
    margin-left: 0px !important;
  }
  body #content .table-head {
    padding-top: 10px !important;
  }
  body .full_content {
    margin-left: 0px !important;
  }
  body #sidebar {
    margin-top: 48px;
    z-index: 10;
  }
  body #sidebar.active {
    width: 0px;
    padding: 0px;
  }
  body .navbar {
    z-index: 999;
  }
  body .dropdown-toggle-wrap {
    right: auto;
  }
  body #email_wrapper thead th {
    white-space: unset !important;
  }
  body #device thead th {
    padding-right: 30px !important;
  }
  body #prediction thead th {
    white-space: unset !important;
    padding-right: 33px !important;
  }
  body #results thead th {
    white-space: unset !important;
  }
  body #videos thead th {
    padding-right: 23px !important;
  }
  body #expired_wrapper {
    padding: 0px;
  }
  body #near-to-expire_wrapper {
    padding: 0px;
  }
  body .custom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .custom-row .common-wrap-col {
    max-width: 49% !important;
    margin-bottom: 10px;
    margin-right: 0px !important;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  body .common-wrap .btn-group {
    margin-top: 10px;
  }
  body .common-wrap .btn-group .expired-btn {
    margin-left: 0px !important;
  }
  body .add-icon a {
    right: 20px !important;
    top: 35px !important;
  }
  .graph-wrap-row .graph-common-1 {
    max-width: 49% !important;
  }
  .graph-wrap-row .graph-common-2 {
    max-width: 49% !important;
  }
  #sidebarCollapse img {
    height: 20px;
  }
  #sidebarCollapse .dataTables_wrapper .top-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
  }
}

/*laptop devices 991 up devices */
@media (min-width: 992px) and (max-width: 1199px) {
  body #content .custom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #content .custom-row .common-wrap-col {
    max-width: 24% !important;
    margin-bottom: 10px;
    margin-right: 0px !important;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  body #content .custom-wrap-p {
    padding-right: 0px;
  }
  body #content .custom-wrap-p .datapicker {
    max-width: 50% !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body #content .custom-wrap-p .datapicker input {
    margin-left: 0px !important;
    width: 23%;
  }
  body #content #expired_wrapper {
    padding: 0px;
  }
  body #content #near-to-expire_wrapper {
    padding: 0px;
  }
  body #content #device thead th {
    padding-right: 24px !important;
  }
  body #content .graph-wrap-row .graph-common-1 {
    max-width: 49% !important;
  }
  body #content .graph-wrap-row .graph-common-2 {
    max-width: 49% !important;
  }
  body #content .common-wrap .btn-group {
    margin-top: 10px;
  }
  body #content .common-wrap .btn-group .expired-btn {
    margin-left: 0px !important;
  }
  body .branch-edit-profile a {
    left: 385px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  body #content .custom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #content .custom-row .common-wrap-col {
    max-width: 24% !important;
    margin-bottom: 10px;
    margin-right: 0px !important;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  body #content .common-p {
    padding-right: 0px !important;
  }
  body #videos thead th {
    padding-right: 50px !important;
  }
  body #subscription thead th {
    padding-right: 35px !important;
    white-space: nowrap !important;
  }
  body #expired_wrapper {
    padding: 0px;
  }
  body #near-to-expire_wrapper {
    padding: 0px;
  }
}

/*dashboard*/
#content .row {
  margin-right: 0px;
  margin-left: 0px;
}

#content .row .student-col {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#736dff), color-stop(#8371ff), color-stop(#9176ff), color-stop(#9d7aff), to(#a97fff));
  background-image: linear-gradient(to right top, #736dff, #8371ff, #9176ff, #9d7aff, #a97fff);
}

#content .row .mocktest-col {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#f7c598), color-stop(#fab78e), color-stop(#fda887), color-stop(#ff9885), to(#ff8886));
  background-image: linear-gradient(to right top, #f7c598, #fab78e, #fda887, #ff9885, #ff8886);
}

#content .row .practicetest-col {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#f9b4bd), color-stop(#f19dbc), color-stop(#e08ac3), color-stop(#c37bce), to(#9573db));
  background-image: linear-gradient(to right top, #f9b4bd, #f19dbc, #e08ac3, #c37bce, #9573db);
}

#content .row .institute-col {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#44dec5), color-stop(#00d8da), color-stop(#00d0eb), color-stop(#05c7f6), to(#4ebcfa));
  background-image: linear-gradient(to right top, #44dec5, #00d8da, #00d0eb, #05c7f6, #4ebcfa);
}

#content .row .common-wrap-col {
  padding: 0px;
  border-radius: 5px;
  -webkit-box-shadow: 0 15px 30px 5px Rgb(0 0 0/22%);
          box-shadow: 0 15px 30px 5px Rgb(0 0 0/22%);
  margin-right: 21px;
  max-width: 23%;
  margin-bottom: 15px;
}

#content .row .common-wrap-col .dashboard-common-wrap {
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}

#content .row .common-wrap-col .dashboard-common-wrap .icon {
  float: left;
  border-radius: 50%;
  background-color: #d0cdcd54;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content .row .common-wrap-col .dashboard-common-wrap .icon img {
  width: 18px;
}

#content .row .common-wrap-col .dashboard-common-wrap .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
}

#content .row .common-wrap-col .dashboard-common-wrap .title h4 {
  color: #fff;
  margin: 0px;
  font-size: 18px;
}

#content .row .common-wrap-col .text-wrap {
  padding: 23px 17px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#content .row .common-wrap-col .text-wrap h3 {
  color: #fff;
  font-size: 20px;
  margin: 0px;
  font-weight: 300;
}

#content .row .common-wrap-col .text-wrap h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin-top: -8px;
  margin-right: 15px;
}

#content .graph-wrap-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#content .graph-wrap-row .table-head {
  margin-top: 5px;
}

#content .graph-wrap-row .form-select {
  width: 110px;
}

#content .graph-wrap-row .form-select button {
  background-color: #092950;
  border: 1px solid #092950;
  color: #fff;
  padding: 4px 15px;
  font-size: 12px;
}

#content .graph-wrap-row .form-select button:focus {
  outline: unset !important;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

#content .graph-wrap-row .form-select button:hover {
  color: #fff !important;
}

#content .graph-wrap-row .form-select button::after {
  font-size: 20px;
}

#content .graph-wrap-row .form-select .dropdown-menu {
  padding: 0px;
  margin: 0px;
  min-height: 100px !important;
}

#content .graph-wrap-row .form-select .dropdown-menu li a {
  padding: 1px 23px;
}

#content .graph-wrap-row .form-select .dropdown-menu li a:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #3490dc;
}

#content .graph-wrap-row .form-select .dropdown-menu li a:active {
  background-color: #fff !important;
}

#content .graph-wrap-row .graph-common-1 {
  padding: 12px;
  border-radius: 5px;
  width: auto;
  max-width: 49%;
}

#content .graph-wrap-row .graph-common-2 {
  padding: 12px;
  border-radius: 5px;
  width: auto;
  max-width: 50%;
}

#content .common-wrap {
  padding: 30px 0px 25px;
  border-radius: 5px;
}

#content .common-wrap .table-head {
  margin: 0 !important;
  font-size: 16px;
  color: #2D2F39;
  font-weight: 600;
  padding-top: 8px;
}

#content .common-wrap .head-text {
  padding-bottom: 10px;
}

#content .common-wrap .datapicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content .common-wrap #activitylog_wrapper {
  padding: 0px;
}

#content .common-wrap #transaction_wrapper {
  padding: 0px;
}

#content .common-wrap #institute_wrapper {
  padding: 0px;
}

#content .common-wrap #ranking_wrapper {
  padding: 0px;
}

#content .common-wrap thead th {
  padding-right: 10px;
}

#content .common-wrap .expired-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content .common-wrap .expired-btn a:hover {
  text-decoration: unset;
}

#content .common-wrap .expired-btn .expired-btn {
  padding: 3px 25px;
  margin-left: -94px;
  border-radius: 0px;
  background-color: #fff;
  border-color: #092950;
  color: #092950;
}

#content .common-wrap .expired-btn .near-expired {
  padding: 3px 11px;
  border-radius: 0px;
  background-color: #fff;
  border-color: #000000;
  color: #092950;
}

#content .common-wrap .expired-btn .expired-btn:focus, #content .common-wrap .expired-btn .near-expired:focus, #content .common-wrap .expired-btn .active {
  background-color: #092950 !important;
  color: #fff !important;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*add new questions*/
.accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: right;
  font-size: 20px;
  color: #fff;
}

.accordion .collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

#content .container {
  padding: 50px 15px;
}

#content .container .accordion .card {
  border: 2px solid #9D1346;
  border-radius: 5px;
}

#content .container .accordion .card .card-header {
  background-color: #9D1346;
}

#content .container .accordion .card .card-header .card-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

#content .container .accordion .card .card-body {
  padding: 10px;
}

#content .container .accordion .card .card-body .reading-list button {
  background-color: #092950;
}

#content .container .accordion .card .card-body .reading-list button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

#content .container .accordion .card .card-body .reading-list .btn-primary {
  border: none;
}

.modal-content .modal-title {
  font-size: 20px;
  padding: 25px 12px 5px;
}

.modal-content .delete-text {
  font-size: 16px;
}

.modal-content .modal-footer .cancel-btn {
  background-color: #092950;
  color: #fff;
}

.modal-content .modal-footer .delete-btn {
  background-color: red;
  color: #fff;
}

.tax-invoice {
  border: 1px solid #000;
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 25px;
  background-color: #fff;
}

.tax-invoice .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 15px;
}

.tax-invoice .header p {
  font-size: 16px;
  font-weight: 500;
}

.tax-invoice .main-heading {
  margin-top: 15px;
  border-bottom: 1px solid #000;
}

.tax-invoice .main-heading h4 {
  text-align: center;
}

.tax-invoice .invoice-detail p {
  border-bottom: 1px solid #000;
  margin: 0px;
  padding-left: 15px;
  font-weight: 500;
  color: #000;
}

.tax-invoice .invoice-detail p span {
  padding-left: 80px;
}

.tax-invoice .table {
  border: 0px;
  margin: 0px;
}

.tax-invoice .table thead th {
  border-top: none;
  vertical-align: top;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0px;
  padding-left: 10px;
}

.tax-invoice .table tbody td {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-left: 10px !important;
  padding: 0px;
}
/*# sourceMappingURL=admin-style.css.map */