@charset "UTF-8";
@media (max-width: 575.98px) {
  body #content {
    margin-left: 0px;
    margin-top: 50px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  body .full_content {
    margin-left: 0px !important;
  }
  body #sidebar {
    margin-top: 48px;
    padding-bottom: 40px;
    z-index: 10;
  }
  body #sidebar.active {
    width: 0px;
    padding: 0px;
  }
  body .navbar {
    z-index: 999;
  }
  body .navbar .container-fluid {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  body .navbar .btn-toggle {
    font-size: 22px;
  }
  body .navbar .main-content-heading h3 {
    margin-left: 0px;
    font-size: 22px;
  }
  body .navbar .navbar-collapse .right-navbar-wrap {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body #sidebarCollapse img {
    height: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-collapse .right-navbar-wrap {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  body .navbar .main-content-heading h3 {
    margin-left: 0px;
    font-size: 18px;
  }
  body .dropdown-toggle-wrap {
    min-width: 300px;
  }
  body .top-title-button .left {
    margin-bottom: 15px;
  }
  body .top-title-button .left .table-head {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
  }
  body .dataTables_wrapper .top-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  body #module thead th {
    white-space: unset !important;
    padding-right: 27px !important;
  }
  body #prediction thead th {
    white-space: unset !important;
    padding-right: 7px !important;
  }
  body #subscription thead th {
    padding-right: 8px;
  }
  body #transactions thead th {
    padding-right: 22px !important;
    white-space: unset !important;
  }
  body #role thead th {
    white-space: unset !important;
    padding-right: 12px !important;
  }
  body #email_wrapper thead th {
    white-space: unset !important;
    padding-right: 20px !important;
  }
  body #videos thead th {
    white-space: unset !important;
    padding-right: 25px !important;
  }
  body .dataTables_wrapper {
    padding: 20px 0px 0px;
  }
  body .pull-right {
    margin-top: 10px;
  }
  body .form {
    margin-left: 0px !important;
  }
  body .modal-body {
    padding: 5px !important;
  }
  body .modal-body .delete-text {
    padding-left: 22px;
  }
  body .custom-body {
    padding: 5px !important;
  }
  body .score-heading {
    margin-top: 0px !important;
  }
  body .common-wrap {
    padding: 5px !important;
  }
  body .common-wrap .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    border-radius: 0px;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  body .common-wrap .nav .nav-item:focus, body .common-wrap .nav .active {
    border-radius: 0px;
    margin-bottom: 5px;
  }
  body .common-wrap .nav .nav-link {
    border-radius: 0px;
    margin-bottom: 5px;
  }
  body .dashboard-heading {
    margin-left: 17px;
  }
  body #content .custom-row {
    padding: 15px;
  }
  body #content .custom-row .common-wrap-col {
    max-width: 100%;
    margin-bottom: 10px;
    margin-right: 0px;
  }
  body .table-col {
    padding-left: 15px !important;
  }
  body .table-col .common-wrap {
    padding: 0px !important;
  }
  body .table-col .common-wrap .expired-btn {
    margin-left: 0px !important;
  }
  body .table-col .datapicker {
    max-width: 52% !important;
  }
  body .table-col .datapicker input {
    margin-left: 0px !important;
  }
  body .table-col #transaction thead th {
    white-space: unset !important;
    padding-right: 5px !important;
  }
  body .graph-wrap-row {
    padding: 15px;
  }
  body .graph-wrap-row .graph-common-1 {
    margin-top: 0px !important;
    max-width: 100% !important;
  }
  body .graph-wrap-row .graph-common-2 {
    margin-top: 0px !important;
    max-width: 100% !important;
  }
  body .question-forms .form .common-col {
    padding: 13px 12px 1px 12px;
  }
  body .question-forms .form .common-col .custom-label {
    padding: 5px 3px;
  }
  body .question-forms .form .common-col .col-form-label {
    padding: 5px 3px;
  }
  body .question-forms .form .common-col .add-icon a {
    right: 140px !important;
    top: 225px !important;
  }
  body .question-forms .form .common-col .plus-icon a {
    margin-top: 30px;
  }
  body .question-forms .form .save-btn {
    margin-top: 80px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .question-forms .form .save-btn button {
    margin: 0px !important;
  }
  body .question-forms .sub-heading h4 span {
    font-size: 15px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
  body .question-forms .sub-heading h5 span {
    font-size: 15px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  body .navbar .main-content-heading h3 {
    margin-left: 0px;
    font-size: 16px;
    padding: 10px 8px;
  }
  body .navbar .btn-toggle {
    font-size: 20px;
    padding: 10px 4px;
  }
  body .responsive-toggle {
    padding: 2px 8px;
  }
  body .dropdown-toggle-wrap {
    min-width: 250px;
  }
  body .form {
    margin-left: 0px !important;
  }
  body .top-title-button .left {
    margin-bottom: 15px;
  }
  body .top-title-button .left .table-head {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
  }
  body .dataTables_wrapper {
    padding: 20px 0px 0px;
  }
  body #prediction thead th {
    white-space: unset !important;
    padding-right: 13px !important;
  }
  body #vouchers thead th {
    white-space: unset !important;
    padding-right: 7px !important;
  }
  body #mock_test thead th {
    white-space: unset !important;
    padding-right: 35px !important;
  }
  body #subscription thead th {
    padding-right: 8px;
  }
  body #module thead th {
    white-space: unset !important;
    padding-right: 86px !important;
  }
  body #subjects thead th {
    padding-right: 18px !important;
  }
  body .dataTables_wrapper .top-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  body .dataTables_wrapper thead th {
    white-space: unset !important;
    padding-right: 22px !important;
  }
  body #role thead th {
    white-space: nowrap !important;
    padding-right: 28px !important;
  }
  body #certificates thead th {
    white-space: unset !important;
    padding-right: 11px !important;
  }
  body .pull-right {
    float: none;
    margin-top: 10px;
  }
  body #email_wrapper thead th {
    white-space: unset !important;
    padding-right: 8px !important;
  }
  body .modal-body {
    padding: 5px !important;
  }
  body .modal-body .delete-text {
    padding-left: 22px;
  }
  body .score-heading {
    margin-top: 0px !important;
  }
  body .common-wrap {
    padding: 5px !important;
  }
  body .common-wrap .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    border-radius: 0px;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  body .common-wrap .nav .nav-item:focus, body .common-wrap .nav .active {
    border-radius: 0px;
    margin-bottom: 5px;
  }
  body .common-wrap .nav .nav-link {
    border-radius: 0px;
    margin-bottom: 5px;
  }
  body .dashboard-heading {
    margin-left: 17px;
  }
  body #content .custom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
  }
  body #content .custom-row .common-wrap-col {
    max-width: 100%;
    margin-bottom: 10px;
    margin-right: 0px;
  }
  body #content .table-col {
    padding-left: 15px !important;
  }
  body #content .table-col .common-wrap {
    padding: 0px !important;
  }
  body #content .table-col .common-wrap .expired-btn {
    margin-left: 0px;
  }
  body #content .table-col .datapicker {
    max-width: 52% !important;
  }
  body #content .table-col .datapicker input {
    margin-left: 0px !important;
  }
  body #content .table-col #transaction thead th {
    white-space: unset !important;
    padding-right: 17px !important;
  }
  body #content .graph-wrap-row {
    padding: 15px;
  }
  body #content .graph-wrap-row .graph-common-1 {
    margin-top: 0px !important;
    max-width: 100% !important;
  }
  body #content .graph-wrap-row .graph-common-2 {
    margin-top: 0px !important;
    max-width: 100% !important;
  }
  body .question-forms .form .common-col {
    padding: 13px 12px 1px 12px;
  }
  body .question-forms .form .common-col .custom-label {
    padding: 5px 3px;
  }
  body .question-forms .form .common-col .col-form-label {
    padding: 5px 3px;
  }
  body .question-forms .form .common-col .add-icon a {
    right: 110px !important;
    top: 225px !important;
  }
  body .question-forms .form .common-col .plus-icon a {
    margin-top: 30px;
  }
  body .question-forms .form .save-btn {
    margin-top: 80px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .question-forms .form .save-btn button {
    margin: 0px !important;
  }
  body .question-forms .sub-heading h4 span {
    font-size: 15px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
  body .question-forms .sub-heading h5 span {
    font-size: 15px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
}

/*middle screen(425 up to 575 */
@media (min-width: 425px) and (max-width: 575px) {
  body .dataTables_wrapper .top-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  body .dataTables_wrapper thead th {
    white-space: unset !important;
    padding-right: 22px !important;
  }
  body .pull-right {
    margin-top: 10px;
  }
  body .nav {
    padding-bottom: 10px;
  }
  body .nav .nav-item {
    border-radius: 0px;
  }
  body #device thead th {
    white-space: nowrap !important;
    padding-right: 18px !important;
  }
  body #results thead th {
    white-space: unset !important;
    padding-right: 18px !important;
  }
  body #certificates thead th {
    white-space: unset !important;
    padding-right: 18px !important;
  }
  body #email_wrapper thead th {
    white-space: unset !important;
    padding-right: 5px !important;
  }
  body #videos thead th {
    white-space: unset !important;
    padding-right: 60px !important;
  }
  body #module thead th {
    padding-right: 45px !important;
  }
  body .dashboard-heading {
    margin-left: 17px;
  }
  body #content .custom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
  }
  body #content .custom-row .common-wrap-col {
    max-width: 48%;
    margin-bottom: 10px;
    margin-right: 0px;
  }
  body .table-head {
    padding-top: 5px !important;
    padding-bottom: 10px !important;
  }
  body .table-col {
    padding-left: 15px !important;
  }
  body .table-col .common-wrap {
    padding: 0px !important;
  }
  body .table-col .common-wrap .expired-btn {
    margin-left: 0px !important;
  }
  body .table-col .datapicker {
    max-width: 52% !important;
  }
  body .table-col .datapicker input {
    margin-left: 0px !important;
  }
  body .table-col #transaction thead th {
    white-space: unset !important;
    padding-right: 5px !important;
  }
  body .graph-wrap-row {
    padding: 15px;
  }
  body .graph-wrap-row .graph-common-1 {
    margin-top: 0px !important;
    max-width: 100% !important;
  }
  body .graph-wrap-row .graph-common-2 {
    margin-top: 0px !important;
    max-width: 100% !important;
  }
  body .question-forms .form .common-col {
    padding: 13px 12px 1px 12px;
  }
  body .question-forms .form .common-col .custom-label {
    padding: 5px 3px;
  }
  body .question-forms .form .common-col .col-form-label {
    padding: 5px 3px;
  }
  body .question-forms .form .common-col .add-icon a {
    right: 160px !important;
    top: 225px !important;
  }
  body .question-forms .form .common-col .plus-icon a {
    margin-top: 30px;
  }
  body .question-forms .form .save-btn {
    margin-top: 80px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .question-forms .form .save-btn button {
    margin: 0px !important;
  }
  body .question-forms .sub-heading h4 span {
    font-size: 18px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
  body .question-forms .sub-heading h5 span {
    font-size: 18px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
}

/* all large mobile (575 up to 768)*/
@media (min-width: 575px) and (max-width: 767px) {
  body #sidebar {
    margin-top: 48px;
    padding-bottom: 40px;
  }
  body #content {
    margin-top: 70px;
    width: 100%;
  }
  body #content .dataTables_wrapper .top-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  body #content .custom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #content .custom-row .common-wrap-col {
    max-width: 48%;
    margin-bottom: 10px;
    margin-right: 0px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  body #content .common-wrap {
    padding: 0px !important;
  }
  body #content .common-wrap .btn-group {
    margin-top: 20px;
  }
  body #content .common-wrap .btn-group .expired-btn {
    margin-left: 0px !important;
  }
  body #content .datapicker {
    max-width: 23% !important;
  }
  body #content .datapicker input {
    margin-left: 0px !important;
    margin-top: 15px;
  }
  body #content .table-head {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
  }
  body #content #results thead th {
    white-space: unset !important;
  }
  body #content .question-forms .form .common-col {
    padding: 13px 12px 1px 12px;
  }
  body #content .question-forms .form .common-col .custom-label {
    padding: 5px 3px;
  }
  body #content .question-forms .form .common-col .col-form-label {
    padding: 5px 3px;
  }
  body #content .question-forms .form .common-col .add-icon a {
    right: 208px !important;
    top: 225px !important;
  }
  body #content .question-forms .form .common-col .plus-icon a {
    margin-top: 30px;
  }
  body #content .question-forms .form .save-btn {
    margin-top: 80px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body #content .question-forms .form .save-btn button {
    margin: 0px !important;
  }
  body #content .question-forms .sub-heading h4 span {
    font-size: 15px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
  body #content .question-forms .sub-heading h5 span {
    font-size: 15px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
  }
}

/* tablets devices (tablets, 768px and up)  */
@media (min-width: 768px) and (max-width: 991.98px) {
  body #content {
    margin-top: 70px;
    width: 100%;
  }
  body #content .custom-wrap-p {
    padding-right: 0px !important;
  }
  body #content .custom-wrap-p .datapicker {
    max-width: 27% !important;
  }
  body #content .custom-wrap-p .datapicker input {
    margin-left: 0px !important;
  }
  body #content .table-head {
    padding-top: 10px !important;
  }
  body .full_content {
    margin-left: 0px !important;
  }
  body #sidebar {
    margin-top: 48px;
    z-index: 10;
  }
  body #sidebar.active {
    width: 0px;
    padding: 0px;
  }
  body .navbar {
    z-index: 999;
  }
  body .dropdown-toggle-wrap {
    right: auto;
  }
  body #email_wrapper thead th {
    white-space: unset !important;
  }
  body #device thead th {
    padding-right: 30px !important;
  }
  body #prediction thead th {
    white-space: unset !important;
    padding-right: 21px !important;
  }
  body #results thead th {
    white-space: unset !important;
  }
  body #videos thead th {
    padding-right: 50px !important;
  }
  body .custom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .custom-row .common-wrap-col {
    max-width: 49% !important;
    margin-bottom: 10px;
    margin-right: 0px !important;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  body .common-wrap .btn-group {
    margin-top: 10px;
  }
  body .common-wrap .btn-group .expired-btn {
    margin-left: 0px !important;
  }
  body .add-icon a {
    right: 20px !important;
    top: 35px !important;
  }
  .graph-wrap-row .graph-common-1 {
    max-width: 49% !important;
  }
  .graph-wrap-row .graph-common-2 {
    max-width: 49% !important;
  }
  #sidebarCollapse img {
    height: 20px;
  }
  #sidebarCollapse .dataTables_wrapper .top-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
  }
}

/*laptop devices 991 up devices */
@media (min-width: 992px) and (max-width: 1199px) {
  body #content .custom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #content .custom-row .common-wrap-col {
    max-width: 24% !important;
    margin-bottom: 10px;
    margin-right: 0px !important;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  body #content .custom-wrap-p {
    padding-right: 0px;
  }
  body #content .custom-wrap-p .datapicker {
    max-width: 50% !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body #content .custom-wrap-p .datapicker input {
    margin-left: 0px !important;
    width: 23%;
  }
  body #content #device thead th {
    padding-right: 24px !important;
  }
  body #content .graph-wrap-row .graph-common-1 {
    max-width: 49% !important;
  }
  body #content .graph-wrap-row .graph-common-2 {
    max-width: 49% !important;
  }
  body #content .common-wrap .btn-group {
    margin-top: 10px;
  }
  body #content .common-wrap .btn-group .expired-btn {
    margin-left: 0px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  body #content .custom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #content .custom-row .common-wrap-col {
    max-width: 24% !important;
    margin-bottom: 10px;
    margin-right: 0px !important;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  body #content .common-p {
    padding-right: 0px !important;
  }
  body #videos thead th {
    padding-right: 50px !important;
  }
}

body {
  background-color: #f4f7fc;
}

#sidebarCollapse img {
  height: 26px;
}

.navbar {
  padding: 0px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar .btn-toggle {
  font-size: 30px;
  color: #092950;
}

.navbar .btn-toggle:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.navbar .main-content-heading h3 {
  margin-bottom: 0px;
  color: #092950;
  letter-spacing: 3px;
  margin-left: 30px;
  font-weight: 700;
}

.navbar .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .navbar-collapse .right-navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-collapse .right-navbar-wrap .notificaiton-main {
  position: relative;
  padding: 28px 20px;
  display: block;
  cursor: pointer;
}

.navbar .navbar-collapse .right-navbar-wrap .notificaiton-main svg {
  color: #000000;
  font-size: 20px;
  cursor: pointer;
}

.navbar .navbar-collapse .right-navbar-wrap .notificaiton-main .budge-notificaiton {
  background-color: #000000;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 10px;
  position: absolute;
  top: 18px;
  left: 28px;
  border: 2px solid #fff;
}

.navbar .navbar-collapse .right-navbar-wrap .notificaiton-main:hover .dropdown-toggle-wrap {
  display: block;
}

.navbar .navbar-collapse .right-navbar-wrap .profile-user-wrap {
  position: relative;
  margin-left: 8px;
}

.navbar .navbar-collapse .right-navbar-wrap .profile-user-wrap .profile-name {
  color: #4D4F5C;
  font-size: 15px;
  text-decoration: none;
  padding: 16px 0px;
  display: block;
  text-transform: capitalize;
}

.navbar .navbar-collapse .right-navbar-wrap .profile-user-wrap .profile-name:hover {
  color: #092950;
}

.navbar .navbar-collapse .right-navbar-wrap .profile-user-wrap .profile-name svg {
  margin-left: 8px;
}

.navbar .navbar-collapse .right-navbar-wrap .profile-user-wrap .profile-name img {
  margin-left: 10px;
}

.navbar .navbar-collapse .right-navbar-wrap .profile-user-wrap:hover .logout-dropdown {
  display: block;
}

.dropdown-toggle-wrap {
  display: none;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.22);
  min-width: 350px;
  position: absolute;
  top: 75px;
  border-radius: 4px;
  right: -152px;
}

.dropdown-toggle-wrap .heading {
  padding: 10px 16px;
  display: block;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
}

.dropdown-toggle-wrap .notifications-main-wrap {
  max-height: 200px;
  overflow: scroll;
}

.dropdown-toggle-wrap .notifications-main-wrap ul {
  margin: 0px;
}

.dropdown-toggle-wrap .notifications-main-wrap ul li {
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  padding: 8px 0px;
  list-style: none;
  position: relative;
}

.dropdown-toggle-wrap .notifications-main-wrap ul li::after {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #092950;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  left: -20px;
}

.dropdown-toggle-wrap .notifications-main-wrap ul li span {
  display: block;
  font-weight: 300;
  color: #bababa;
}

.dropdown-toggle-wrap .notifications-main-wrap ul li:last-child {
  border-bottom: none;
}

.logout-dropdown {
  display: none;
  min-width: auto;
  position: absolute;
  border-radius: 4px;
  right: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.22);
  top: 75px;
  border-radius: 4px;
}

.logout-dropdown .notifications-main-wrap {
  margin-top: 10px;
}

.logout-dropdown .notifications-main-wrap ul {
  padding: 0px;
}

.logout-dropdown .notifications-main-wrap ul li {
  list-style: none;
  padding: 10px 20px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.logout-dropdown .notifications-main-wrap ul li a {
  color: #4D4F5C;
  font-size: 16px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logout-dropdown .notifications-main-wrap ul li a svg {
  margin-right: 10px;
}

.logout-dropdown .notifications-main-wrap ul li:hover {
  background-color: #092950;
}

.logout-dropdown .notifications-main-wrap ul li:hover a {
  color: #fff;
}

.navbar-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
  border: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#sidebar {
  width: 260px;
  background: #9D1346;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px 10px 70px;
  position: fixed;
  height: 100vh;
  margin-top: 82px;
  overflow: auto;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 10px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li {
  position: relative;
  margin-bottom: 5px;
}

#sidebar ul li a {
  padding: 6px 10px;
  font-size: 14px;
  display: block;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar ul li a:hover {
  color: #fff;
  background: #092950;
}

#sidebar ul li a img {
  margin-right: 14px;
}

#sidebar ul li .dropdown-toggle::after {
  display: none;
}

#sidebar ul li .dropdown-toggle::before {
  content: "\e145";
  font-family: 'Material Icons';
  font-weight: normal;
  font-size: 20px;
  position: absolute;
  right: 8px;
}

#sidebar ul li.active > a {
  color: #fff;
  background: #092950;
  font-weight: 500;
}

#sidebar .list-unstyled {
  padding-left: 30px;
  list-style: none;
  margin: 8px 0px;
}

#sidebar.active {
  width: 75px;
}

#sidebar.active ul li a span {
  display: none;
}

#sidebar.active ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sidebar.active ul li a img {
  margin-right: 0px;
}

#sidebar.active ul li a img {
  margin-right: 0px;
}

#sidebar.active ul li a::before {
  display: none;
}

#sidebar.active .collapse {
  display: none;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* ---------------------------------------------------
     CONTENT STYLE
 ----------------------------------------------------- */
#content {
  width: calc(100% - 260px);
  padding: 20px;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 260px;
  margin-top: 80px;
}

.full_content {
  margin-left: 70px !important;
  width: 100% !important;
}

/* ---------------------------------------------------
     MEDIAQUERIES
 ----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebarCollapse span {
    display: none;
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #092950;
}

#sidebar::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

/* Top title button */
.top-title-button .left .title {
  margin: 0 !important;
  font-size: 24px;
  color: #2D2F39;
  font-weight: 400;
}

.top-title-button .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-title-button .right button {
  background-color: #092950;
  border-radius: 4px;
  border-color: #092950;
  font-size: 12px;
}

/* Forms */
.form .form-group {
  margin-bottom: 25px;
}

.form .form-group .lock-icon {
  position: absolute;
  right: 30px;
  top: 11px;
  font-size: 16px;
  color: #092950;
}

.form .form-group .col-form-label {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.form .form-group .dropdown {
  width: 100% !important;
}

.form .form-group .dropdown button {
  background-color: #fff;
  border: 1px solid #000000;
  color: #000000;
}

.form .form-group .dropdown button:focus {
  outline: unset !important;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.form .form-group .dropdown button:hover {
  color: #000000 !important;
}

.form .form-group .dropdown button::after {
  font-size: 28px;
}

.form .form-group .dropdown .dropdown-menu {
  padding: 0px;
  margin: 0px;
  background-clip: unset;
  min-width: 100% !important;
}

.form .form-group .dropdown .dropdown-menu li a:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #3490dc;
}

.form .form-group .form-control {
  border: 1px solid #0C213A;
  border-radius: 5px;
  font-size: 14px;
  color: #000000;
  line-height: 4;
  font-weight: 400;
}

.form .form-group .form-control::-webkit-input-placeholder {
  color: #cccacc;
}

.form .form-group .form-control:-ms-input-placeholder {
  color: #cccacc;
}

.form .form-group .form-control::-ms-input-placeholder {
  color: #cccacc;
}

.form .form-group .form-control::placeholder {
  color: #cccacc;
}

.form .form-group .custom-file .custom-file-label {
  color: #000000;
  font-weight: 500;
}

.form .form-group .custom-file::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  display: block;
  z-index: 20;
  color: #000;
  font-weight: 600;
}

.form .form-group textarea, .form .form-group select {
  line-height: 1.6 !important;
  font-weight: 400;
}

.form .form-group select {
  background: #fff url(../images/icons/caret-down.svg) right 0.75rem center/15px 10px no-repeat;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #0C213A;
}

.form .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form .form-group .custom-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form .form-group .btn-radio {
  margin-top: 7px;
}

.form .form-group .custom-file-label {
  border-color: #000000;
}

.form .form-group .custom-file-label::after {
  color: #fff !important;
  background-color: #092950;
}

.form .form-group .custom-file-input {
  cursor: pointer;
}

.form .form-group .custom-file-input:focus ~ .custom-file-label {
  border-color: #000000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form .form-group .save-btn button {
  float: right !important;
  background-color: #092950;
  color: #fff;
  border-color: #092950;
  min-width: 120px;
}

.form .form-group .save-btn button .save-icon {
  margin-right: 13px;
}

.form .form-group .save-btn :focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form .form-group .toggle-switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.form .form-group .toggle-switch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 65px;
  height: 26px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  margin-top: -15px;
}

.form .form-group .toggle-switch label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.form .form-group .toggle-switch input:checked + label {
  background: #092950;
}

.form .form-group .toggle-switch input:checked + label:after {
  left: calc(100% - 2px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.form .form-group .toggle-switch label:active:after {
  width: 130px;
}

/* ckeditor */
#cke_editor {
  border: 1px solid #0C213A !important;
  border-radius: 5px;
  overflow: hidden;
}

#cke_editor .cke_top {
  border-bottom: 1px solid #0C213A;
  background: unset;
}

#cke_editor .cke_bottom {
  border-top: 1px solid #0C213A;
}

#cke_editor .cke_toolgroup a {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin: 2px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#cke_editor .cke_toolgroup a:after {
  all: unset;
}

#cke_editor .cke_toolbar_separator {
  display: none;
}

#cke_editor .cke_combo:after {
  all: unset;
}

#cke_editor .cke_toolgroup {
  margin-right: 0;
  padding-right: 0;
}

/*form end*/
.cntr {
  margin: auto;
}

.booking-page {
  overflow: hidden;
}

.btn-radio {
  cursor: pointer;
  display: inline-block;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.btn-radio:not(:first-child) {
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .btn-radio {
    display: block;
    float: none;
  }
  .btn-radio:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }
}

.btn-radio svg {
  fill: none;
  vertical-align: middle;
}

.btn-radio svg circle {
  stroke-width: 2;
  stroke: #092950;
}

.btn-radio svg path {
  stroke: #092950;
}

.btn-radio svg path.inner {
  stroke-width: 6;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
}

.btn-radio svg path.outer {
  stroke-width: 2;
  stroke-dasharray: 57;
  stroke-dashoffset: 57;
}

.btn-radio input {
  display: none;
}

.btn-radio input:checked + svg path {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn-radio input:checked + svg path.inner {
  stroke-dashoffset: 38;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.btn-radio input:checked + svg path.outer {
  stroke-dashoffset: 0;
}

.btn-radio span {
  display: inline-block;
  vertical-align: middle;
}

/* White BG */
.white-bg {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 6px #00000016;
          box-shadow: 0px 2px 6px #00000016;
}

.remove-main-margin {
  margin: 0 15px;
}

/* Datatable */
.dataTables_wrapper {
  padding: 20px;
}

.dataTables_wrapper .row:first-child {
  margin-bottom: 15px;
}

.dataTables_wrapper .top-label {
  color: #333D5F;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dataTables_wrapper .top-search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dataTables_wrapper .top-search label, .dataTables_wrapper .top-search input, .dataTables_wrapper .top-search .dataTables_filter {
  width: 100% !important;
  margin: 0;
}

.dataTables_wrapper .top-search input {
  padding-left: 30px;
  background-color: #F4F7FC;
  color: #818E94;
  font-weight: 500;
  height: 35px;
  position: relative;
  margin: 0 !important;
  border: unset;
}

.dataTables_wrapper .top-search input::before {
  content: "«";
  position: absolute;
}

.dataTables_wrapper .top-search input:focus {
  outline: none;
}

.dataTables_wrapper .pull-right {
  float: none;
}

.dataTables_wrapper .pull-right button {
  background-color: #092950 !important;
  color: #fff !important;
}

.dataTables_wrapper .pull-right button:focus {
  outline: unset !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.dataTables_wrapper .pull-right button::after {
  font-size: 28px;
}

.dataTables_wrapper .pull-right .dropdown-menu {
  padding: 0px;
  margin: 0px;
}

.dataTables_wrapper .pull-right .dropdown-menu li a {
  padding: 0px 13px;
}

.dataTables_wrapper .pull-right .dropdown-menu li a:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #3490dc;
}

.dataTables_wrapper .top-pagination {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dataTables_wrapper .top-pagination label {
  margin: 0;
}

.dataTables_wrapper .top-pagination select {
  background-color: #F4F7FC;
  border-radius: 4px;
  border: unset;
  height: 35px;
  color: #0C213A;
  font-weight: 500;
  padding: 0px 8px;
}

.dataTables_wrapper .top-pagination .dropdown {
  width: 135px !important;
}

.dataTables_wrapper .top-pagination .dropdown button:focus {
  outline: unset;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  color: #000000 !important;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}

.dataTables_wrapper .top-pagination .dropdown .dropdown-toggle:focus {
  outline: unset;
}

.dataTables_wrapper .top-pagination .dropdown .dropdown-menu {
  padding: 0px;
  margin: 0px;
}

.dataTables_wrapper .top-pagination .dropdown .dropdown-menu li a {
  padding: 0px 13px;
}

.dataTables_wrapper .top-pagination .dropdown .dropdown-menu li a:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #3490dc;
}

.dataTables_wrapper table {
  margin: 0 !important;
  border: unset;
}

.dataTables_wrapper table thead tr th {
  font-size: 12px;
  background-color: #9D1346;
  color: #fff;
  border: unset;
}

.dataTables_wrapper table tbody .odd {
  background-color: #F4F7FC;
}

.dataTables_wrapper table tbody td {
  border: unset;
  font-size: 12px;
  color: #818E94;
}

.dataTables_wrapper table tbody td .actions-btns {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dataTables_wrapper table tbody td .actions-btns .action {
  background-color: #092950;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  margin: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.dataTables_wrapper table tbody td .actions-btns .action a {
  width: 27px;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dataTables_wrapper table tbody td .actions-btns .action a svg path {
  fill: #fff;
}

.dataTables_wrapper table tbody td .actions-btns .action a img {
  height: 15px;
  width: 15px;
}

.dataTables_wrapper table tbody td .actions-btns .shield.green {
  background-color: #09502A;
}

.dataTables_wrapper table tbody td .actions-btns .shield.red {
  background-color: #D0021B;
}

.dataTables_wrapper table tbody td.dtr-control {
  font-size: 0.9rem !important;
}

.dataTables_wrapper .dataTables_paginate .pagination li.previous a, .dataTables_wrapper .dataTables_paginate .pagination li.next a {
  background-color: #092950;
  color: #fff;
}

.dataTables_wrapper .dataTables_paginate .pagination li.active a {
  background-color: #9D1346;
  border-color: #9D1346;
}

#subscription tr th, #vouchers tr th, #transactions tr th {
  width: auto !important;
  white-space: normal !important;
}

#prediction tr td {
  word-break: break-word;
  white-space: normal;
}

#prediction tr th {
  white-space: normal !important;
}

/* Modal */
.modal .modal-dialog .modal-content .modal-header {
  border: unset;
  padding-bottom: 0;
}

.modal .modal-dialog .modal-content .modal-header button {
  opacity: 1;
}

.modal .modal-dialog .modal-content .modal-header button span {
  background-color: #D0021B;
  padding: 3px;
  border-radius: 50px;
  width: 28px;
  display: block;
  color: #fff;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 10px 30px;
}

.modal .modal-dialog .modal-content .custom-body {
  padding: 15px 53px 53px !important;
}

.modal .modal-dialog .body-bg {
  background-color: #f4f7fc;
}

.modal .custom-width {
  max-width: 599px;
}

.modal-body .form {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal-body .form .common-heading {
  margin-right: 75px;
}

.modal-body .form label {
  font-weight: 500;
  color: #000000;
}

.modal-body .form .common-wrap {
  border: 1px solid #4D4F5C;
  margin-top: 15px;
}

.modal-body .form .test-series {
  padding: 15px 43px;
}

.modal-body .form .test-series .form-check {
  margin-right: 40px;
  width: 75px;
}

.modal-body .form .test-series .assign-btn button {
  float: left;
  background-color: #092950;
  color: #fff;
  border-color: #092950;
  margin-top: 40px;
}

.modal-body .form .test-series .assign-btn button .save-icon {
  margin-right: 13px;
}

.modal-body .row .profile-img img {
  width: 150px !important;
  height: 165px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-body .row .edit-profile-btn {
  position: absolute;
  right: 39%;
  bottom: -10px;
  cursor: pointer;
}

.modal-body .row .edit-profile-btn a {
  width: 24px;
  height: 24px;
  background-color: #092950;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 10px;
}

.modal-body .row .user-form {
  padding: 25px 0px 0px 35px;
}

.modal-body .row .user-form .form-group {
  margin-bottom: 0px;
}

.modal-body .row .user-form .form-group .col-form-label {
  font-weight: 600;
}

.modal-body .row .user-form .form-group .label {
  margin-top: 6px;
}

.modal-body .row .user-form .form-input input {
  border: none;
}

.modal-body .row .user-form .form-input .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.modal-body .row .user-form .btn .icon {
  margin-right: 13px;
  width: 16px;
}

.modal-body .row .user-form .btn .edit-btn {
  float: right !important;
  background-color: #092950;
  color: #fff;
  border-color: #092950;
  min-width: 120px;
  margin-right: 5px;
}

.modal-body .row .user-form .btn .delete-btn {
  float: right !important;
  background-color: red;
  color: #fff;
  border-color: red;
  min-width: 120px;
}

.modal-body .row .user-form .btn .shield-btn {
  float: right !important;
  background-color: red;
  color: #fff;
  border-color: red;
  min-width: 120px;
  margin-right: 5px;
}

/*table tab */
.tab {
  margin-bottom: 20px;
}

.tab .nav-tabs {
  padding-bottom: 1px;
}

.tab .nav-tabs .nav-item {
  color: #000000;
  font-weight: 500;
  padding: 8px 30px;
  border-radius: 0px;
}

.tab .nav-tabs .nav-item:focus, .tab .nav-tabs .active {
  background-color: #092950 !important;
  color: #fff !important;
  border: none;
}

.tab .nav-tabs .nav-item {
  background-color: #fff;
  color: #092950;
}

.tab .results-tab {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Subscription page */
.subscription thead tr th {
  white-space: normal !important;
  width: auto !important;
}

.question-forms .heading-text {
  background-color: #9D1346;
  padding: 20px 22px;
  border-radius: 8px 8px 0px 0px;
}

.question-forms .heading-text h5 {
  color: #fff;
  margin: 0px;
}

.question-forms .sub-heading {
  padding: 25px 22px;
}

.question-forms .sub-heading h4 span {
  font-size: 16px;
  font-weight: 300;
  margin-left: 15px;
}

.question-forms .sub-heading h5 span {
  font-size: 16px;
  font-weight: 300;
  margin-left: 15px;
}

.question-forms .form .common-col {
  padding: 13px 5px 1px 10px;
  margin-bottom: 20px;
  width: 910px;
}

.question-forms .form .common-col .custom-label {
  max-width: 175px;
}

.question-forms .form .common-col .add-icon a {
  padding: 0px;
  background-color: #092950;
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  position: absolute;
  right: 55px;
  top: 40px;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.question-forms .form .common-col .plus-icon a {
  padding: 0px;
  background-color: #092950;
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  margin-top: 2px;
  cursor: pointer;
}

.question-forms .form .common-col .minus-icon a {
  padding: 0px;
  background-color: #9D1346;
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  margin-top: 2px;
  cursor: pointer;
}

.question-forms .form .common-col .minus-icon-common a {
  padding: 0px;
  background-color: #9D1346;
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  position: absolute;
  right: 132px;
  top: 42px;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.question-forms .form .back-btn {
  width: 14px;
  margin-right: 10px;
}

.progress-pie-chart, .progress-pie-chart1, .progress-pie-chart2, .progress-pie-chart3 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
}

.progress-pie-chart.gt-50, .progress-pie-chart1.gt-50, .progress-pie-chart2.gt-50, .progress-pie-chart3.gt-50 {
  background-color: #092950;
}

.ppc-progress, .ppc-progress1, .ppc-progress2, .ppc-progress3 {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}

.ppc-progress .ppc-progress-fill, .ppc-progress .ppc-progress-fill1, .ppc-progress .ppc-progress-fill2, .ppc-progress .ppc-progress-fill3, .ppc-progress1 .ppc-progress-fill, .ppc-progress1 .ppc-progress-fill1, .ppc-progress1 .ppc-progress-fill2, .ppc-progress1 .ppc-progress-fill3, .ppc-progress2 .ppc-progress-fill, .ppc-progress2 .ppc-progress-fill1, .ppc-progress2 .ppc-progress-fill2, .ppc-progress2 .ppc-progress-fill3, .ppc-progress3 .ppc-progress-fill, .ppc-progress3 .ppc-progress-fill1, .ppc-progress3 .ppc-progress-fill2, .ppc-progress3 .ppc-progress-fill3 {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #092950;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.gt-50 .ppc-progress, .gt-50 .ppc-progress1, .gt-50 .ppc-progress2, .gt-50 .ppc-progress3 {
  clip: rect(0, 100px, 200px, 0);
}

.gt-50 .ppc-progress .ppc-progress-fill, .gt-50 .ppc-progress .ppc-progress-fill1, .gt-50 .ppc-progress .ppc-progress-fill2, .gt-50 .ppc-progress .ppc-progress-fill3, .gt-50 .ppc-progress1 .ppc-progress-fill, .gt-50 .ppc-progress1 .ppc-progress-fill1, .gt-50 .ppc-progress1 .ppc-progress-fill2, .gt-50 .ppc-progress1 .ppc-progress-fill3, .gt-50 .ppc-progress2 .ppc-progress-fill, .gt-50 .ppc-progress2 .ppc-progress-fill1, .gt-50 .ppc-progress2 .ppc-progress-fill2, .gt-50 .ppc-progress2 .ppc-progress-fill3, .gt-50 .ppc-progress3 .ppc-progress-fill, .gt-50 .ppc-progress3 .ppc-progress-fill1, .gt-50 .ppc-progress3 .ppc-progress-fill2, .gt-50 .ppc-progress3 .ppc-progress-fill3 {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents, .ppc-percents1, .ppc-percents2, .ppc-percents3 {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: table;
}

.ppc-percents span, .ppc-percents1 span, .ppc-percents2 span, .ppc-percents3 span {
  font-size: 29px;
  font-weight: bold;
  color: #fff;
  margin: auto;
  background-color: #092950;
  width: 84px;
  border-radius: 50%;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart, .progress-pie-chart1, .progress-pie-chart2, .progress-pie-chart3 {
  margin: 0px auto 20px;
}

.required:after {
  content: " *";
  color: red;
}
/*# sourceMappingURL=admin-common.css.map */